<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>About</display-name>
    <servlet-name>About</servlet-name>
    <servlet-class>com.sharayu.servlets.About</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>About</servlet-name>
    <url-pattern>/About</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thanks</display-name>
    <servlet-name>Thanks</servlet-name>
    <servlet-class>com.sharayu.servlets.Thanks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thanks</servlet-name>
    <url-pattern>/Thanks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Discount</display-name>
    <servlet-name>Discount</servlet-name>
    <servlet-class>com.sharayu.servlets.Discount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Discount</servlet-name>
    <url-pattern>/Discount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpData</display-name>
    <servlet-name>EmpData</servlet-name>
    <servlet-class>com.sharayu.servlets.EmpData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpData</servlet-name>
    <url-pattern>/EmpData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmp</display-name>
    <servlet-name>RegisterEmp</servlet-name>
    <servlet-class>com.sharayu.servlets.RegisterEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmp</servlet-name>
    <url-pattern>/RegisterEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenAccount</display-name>
    <servlet-name>OpenAccount</servlet-name>
    <servlet-class>com.sharayu.servlets.OpenAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAccount</servlet-name>
    <url-pattern>/OpenAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerformTransact</display-name>
    <servlet-name>PerformTransact</servlet-name>
    <servlet-class>com.sharayu.servlets.PerformTransact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerformTransact</servlet-name>
    <url-pattern>/PerformTransact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestGetData</display-name>
    <servlet-name>TestGetData</servlet-name>
    <servlet-class>com.sharayu.servlets.TestGetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestGetData</servlet-name>
    <url-pattern>/TestGetData</url-pattern>
  </servlet-mapping>
</web-app>